*{
    margin:0;
    padding: 0;
} 
ul{
    list-style:none;
}
body{
    font-family: 'Allerta', sans-serif;
}
table{
    width:100%;
    border-collapse: collapse;
}
th{
    background: #273b47;
    color:white;
    padding:10px 20px;
    text-align: left;
}
td{
    padding: 20px;
}
td, th{
    border:1px solid #273b47; 
}
input, textarea{
    outline:0;
}
input:focus, textarea:focus{
    background: lightgray;
}
.header{
    padding: 20px 0;
}
.container{
    width:100%;
    max-width:800px;
    margin:0 auto;
}
.background{
    background-image: url("../images/background.png");
    background-size: cover;
}
.titulo{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif; 
    padding-top: 70px;
}
.titulo span{
    text-decoration: underline;
}

.menu{
    font-size:20px;
    display:inline-block;
    position:relative;
    top:-20px;
    right:-217px;
}
.menu li{
    margin-left:30px;
}
.menu, .menu li, .logotipo{
    display:inline-block;
}
a{
    text-decoration: none;
    color: white;
}
.title-a{
    font-size: 24px;
    margin-bottom:20px;
}
.portada{
    color:white;
    padding:20px;
}
.button{
    display:inline-block;
    margin-bottom:70px;
    color:white;
    padding:10px 15px;
    border:none;
    border-radius: 7px;
    font-size: 18px;
    background: #ff6756; /* Old browsers */
    background: linear-gradient(to right, #ff6756 0%,#e71448 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: -webkit-linear-gradient(left, #ff6756 0%,#e71448 100%); /* Chrome10-25,Safari5.1-6 */
    background: -moz-linear-gradient(left, #ff6756 0%, #e71448 100%); /* FF3.6-15 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6756', endColorstr='#e71448',GradientType=1 ); /* IE6-9 */

    /* background: linear-gradient(to right, #FF6756,#E71448); */
    cursor: pointer;
}
.guitarras{
    color: #1F313C;
}
.guitarras h2{
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    margin:20px 0;
}

.guitarra ol{
    padding: 0;
}
.right{
    float:right;
    position:relative;
    top:-137px;
}
.left{
    float: left;
    position:relative;
}
.guitarra{
    border-radius:5px;
    border:1px solid gray;
    margin: 10px 10px 45px 10px;
    padding:10px;
}

.guitarra.b{
    height: 200px;
}
.title-b{
    font-size:50px;
    margin-bottom:20px;

}
.container-guitarra-a{
    padding-left:20px;
}
.container-guitarra-a .title-b{
    padding-top:55px;
}
.container-guitarra-b{
    margin-left:370px;
    position:relative;
    top:-105px;
}
footer{
    background:#213C46;
    padding:30px 0;
}
footer .container{
    display:flex;
    justify-content: space-between;
}
.contacto{
    width:275px;
} 
.info-contacto{
    display: flex;
    justify-content: space-between;

}
.contacto img{
    display:block;
    margin-bottom:30px;
    padding-top:35px;
    
}
.contacto strong{
    display:block;
}
.contacto a{
    color:white;
    display:inline-block;
}

.formulario{
    display:flex;
    width:400px;
    color:white;
    padding-top:20px;
}
.datos-personales{
    display: flex;
    flex-direction: column; 
    margin-right:15px;
}
.datos-grales{
    display: flex;
    flex-direction: column; 
    align-items:flex-start;
}
.datos-personales label, .datos-grales label{
    margin-bottom: 10px;
}
.intereses{
    /*flex-direction: column;
    align-items:; */
}
.intereses label{
    font-size:13px;
    margin-right:5px;
}
.intereses input{
    margin-right:5px;
}
.sexo{
    margin:10px 0;
}
.sexo input{
    margin-right:7px;
}
.sexo label{
    /* margin-left:10px; */
}
.datos-grales .button{
    margin-top:10px;
    padding:7px 15px;
}

ul li::before{
    content: "→";
    font-size: 16px;
    color: white;
}
.tabla{
    margin:45px 0;
}